<html>
    <head>
          <title>
              Social_Vibes | Profile
          </title>
                    <link rel ="stylesheet" href ="/css/user_profile.css"> 
    </head>
    <body>
           <h1> Users Profile </h1>
        <% if(req.user.id == profile_user.id){ %>
              <!--if user matches then show the form-->
              <form action ="users/update/<%= profile_user.id %>" method ="POST">
                  <input type ="text" name ="name" placeholder ="Your UserName" value ="profile_user.name">
                  <input type ="email" name ="email" placeholder ="Your Email" value ="profile_user.email">
                  <input type ="submit" value ="update">
              </form>
          <% } %> 
         <% else { %>
            <!--Show the profile info-->
            <p> <%= profile_user.name %> </p>
            <p> <%= profile_user.email %> </p>
       <% } %>
          
    </body>
</html>