<html>
     <head>
     	  <title> Social_Vibes|Sign in </title>
     	  <link rel="stylesheet" type="text/css" href ="/css/user_sign_in.css">
     </head>
     <body>
     	<div>
     		  <h1 id ="title"> Social Vibes !! </h1>
     	</div>

     	<div id ="log-in">
`
     		<h2> Sign in <i> @ </i> To Social Vibes </h2>

     		<input type="email/number" name="id" placeholder="Email address or Phone number" required>
     		<br>
     		<input type="password" name="passwrd" placeholder="Enter Password" required>

        <div id="button">
     		 <input type="button" name="btn" value ="Sign in">
        
          <a href="users/auth/google">
            <input type ="submit" value ="Sign in with Google || Sign-Up">
          </a>

     	</div>

      <span id ="link">
        <a href="">
           Forgotten password
        </a>

         <a href="C:\Users\sashu\OneDrive\Documents\HTML\Basics\User_sign_up.html">
           Sign up for Social Vibes
         </a>


      </span>

    </div>
     </body>
</html>