<div>
    <P> HI !! <%= comment.user.name %> </P>
    <br>
    <br>
    <P> Your comment
        <strong> <%= comment.content %> </strong>
        Just got published on Social Vibes website.       
    </P>
    <br>
    <h2> Thanks </h2>
</div>